
.navbar {
    background-color: rgb(56,57,63);
    overflow: hidden;
}

.navbar img {
    display: inline;
}

.navbar .icon {
    display: none;
}

.img1 {
    background-image: url(img/Opening.jpg);
    height: 950px;
    /* position absolute ini, mqn akn pngaruhi divisi dibawahnya */
    position: absolute;
}

.title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

// if media less than 600px
@media (max-width: 600px) {
    .navbar {
        a {
            display: none;
        }
        img {
            display: inline;
        }
        a.icon {
            position: absolute;
            display: block;
            top: 50%;
            right: 5%;
            transform: translate(0%, -50%);
            color: yellow;
        }
    }
    
    .navbar.responsive {
        position: relative;
        
        li a.icon {
            position: absolute;
            right: 5%;
            top: 15%;
        }
        ul {
            margin: 10px auto auto;
        }
        li a {
            text-align: center;
            display: block;
        }
        .nav-link:hover {
            padding-left: 10px;
            padding-right: 10px;
            background-color: teal;
            border-radius: 5px;
            font-weight: bold;
            color: yellow !important;
        }
    }
}
// end-of @media